@font-face {
    font-family: "exo2";
    src: url(/assets/fonts/Exo2-VariableFont_wght.ttf);
    font-weight: 400;
}
* {
    font-family: 'exo2';
}

.when {
    margin-top: 70px;
    margin-bottom: 20px;
}

.btn-add-del {
    padding-top: 25px;
    padding-bottom: 50px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.lits-footer {
    width: 200px;
}

.footer-tab {
    width: 60vw;
    height: 100px;
}


.img-footer {
    width: 32px;
    height: 32px;
}

.telegram {
    padding-right: 9px;
}

footer {
    margin-top: auto;
    margin-bottom: 40px; 
}


.list-closed {
    margin-top: 70px;
}
.text-closed {
    text-decoration: line-through;
}
